@import 'normalize';

.formGroup {
    display: flex;
    column-gap: 20px;
}

.formGroup .formControl {
    flex: auto;
}

.formError {
    color: red;
}

.experienceItem {
    cursor: pointer;
}

label {
    display: block;
    font-weight: bold;
    margin: 0 0 0.25em;
}

input,
textarea {
    border-radius: 3px;
    border: 1px solid #333;
    width: 100%;
}

textarea {
    height: 100px;
}

input {
    padding: 5px;
}

.buttons {
    display: flex;
    column-gap: 20px;
}

.button {
    background: blue;
    transition: background-color 0.3s;
    border: 0;
    border-radius: 0.4em;
    padding: 0.7em 0.7em;
    color: #fff;
    cursor: pointer;

    &:hover {
        background: blueviolet;
    }
}

.formControl {
    margin: 10px 0;
}

.resumeSectionItem {
    border: 1px solid black;
    padding: 10px;

    h3 {
        margin: 0;
    }
}

.Collapsible__trigger {
    display: flex;
    align-items: center;
    margin: 0 0 0.8em;
}

.Collapsible__trigger:after {
    content: '+';
    margin-left: auto;
}

.Collapsible__trigger.is-open:after {
    content: '-';
}
